<!-- <%- include("../../shared/includes/head") %> -->
<!-- <link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css"> 
<link rel="stylesheet" href="/styles/products.css">
</head> -->
<body>
    <header class="header" data-header>
        <%- include("../../shared/includes/header") %>  
    </header><main>
    <h1>All Products</h1>
    <ul id="product-list">

        <% for(const product of products){ %>
        <li>
            <%- include("../../shared/includes/product-item",{product:product}) %>
        </li>
    <% } %>
    </ul>
</main>
<%- include("../../shared/includes/footer") %>
