<%- include("../../shared/includes/head") %> 

</head>
<body>
    <header class="header" data-header>
        <%- include("../../shared/includes/header") %>  
    </header>    <main>
    <h1>Order Failed</h1>
    <p>Please contact shop owner for more details!</p>

</main>
<%- include("../../shared/includes/footer") %> 
