<ol>
    <% if(locals.isAuth || locals.isAdmin){ %>
    <% for(const order of orders){ %>
        <li>
            <%- include("order-item",{order:order}) %>
        </li>


        <% } %>
        <% }else { %>
            <h1 style="margin-top: 200px;">Please Login First</h1>
            <% } %>
</ol>