body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.cart-container {
  display: flex;
  width: 97%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: min-content;
  /* padding: 1rem; */
}

/* .cart-container2{
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.product-details {
  width: 80%;
  padding: 3rem 5rem;
  min-height: 400px;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 20px;
  color: #959595;
}

.product {
  display: flex;
  margin-bottom: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
}
.checkout-details {
  color: #000000;
}

.product-name,
.product-quantity,
.product-price,
.product-total {
  font-size: 16px;
  color: #333;
}

.product-price,
.product-total {
  margin-left: 20rem;
}

.product-quantity {
  width: 5rem;
  background-color: #f1f1f1;
  height: 5rem;
  border-radius: 10px;
  text-align: center;
  margin-left: 6rem;
  padding-left: 15px;
}

.product-image {
  width: 14rem;
  height: 10rem;
  margin-right: 10px;
  border-radius: 3px;
}
.promo-code input {
  padding-bottom: 50px;
}

.promo-code {
  border-bottom: 1px solid yellow;
}
label {
  padding-bottom: 10px;
}

.promo-code label {
  color: #232222;
  text-align: left;
}
.payment-options {
  /* padding: 20px ; */
  width: 30%;
  background-color: #f4f4f4;
  color: #fff;
  padding: 1.5rem;
  text-align: left;
}

h2 {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #000000;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-bottom: 2rem;
}
.payment-options h2 {
  margin-top: 10px;
}
.promo-code {
  margin-bottom: 2rem;
}
.promo-code input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: white;
  color: #000000;
}

.promo-code button {
  background-color: #ffca28;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.shipping-options {
  margin-bottom: 40px;
  color: #000000;
}
.promo-flex {
  display: flex;
  flex-direction: row;
  height: 50px;
  gap: 10px;

  border-bottom: 1px solid rgb(230, 230, 230);
}
.promo-code h4 {
  color: black;
}
.shipping-options label {
  text-align: left;
  padding-bottom: 1rem;
}
label {
  font-size: 16px;
  text-align: left;
}

select {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: 0.5px black;
  border-radius: 4px;
}

option {
  height: 50px;
}

.checkout-button {
  background-color: #ffca28;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.checkout-details button,
.promo-code button,
.checkout-details a{
  color: white;
  font-weight: 600;
  border-radius: 4px;
  background-color: hsl(5, 100%, 65%);
}
.checkout-details a{
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}
.nav-action-btn{
    color: black;
}
.checkout-details button:hover,
.promo-code button:hover,
.checkout-details a:hover {
  background-color: hsl(5, 92%, 60%);
}
.total-products,
.checkout-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-products a {
  color: white;
  font-weight: 600;
  border-radius: 4px;
  background-color: hsl(5, 100%, 65%);
  min-width: 200px;
  max-height: 50px;
  text-align: center;
  padding: 10px;
  align-items: center;
  padding-top: 13px;
}
.total-products a:hover 
a,.empty-cart a:hover 
{
  background-color: hsl(5, 92%, 60%);
}
.checkout-details form{
    background-color: none;
    border-radius: none;
    padding: 0;
}

.empty-cart{
    margin-top: 13rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}
.empty-cart a {
    color: white;
    font-weight: 600;
    border-radius: 4px;
    background-color: hsl(5, 100%, 65%);
    min-width: 200px;
    max-height: 50px;
    text-align: center;
    padding: 10px;
    align-items: center;
    padding-top: 15px;
}