/* Glassmorphism effect */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ol {
  margin-block-start: 70px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.order-item {
  margin: 20px;
  padding: 0;
}

.inner-box {
  background-color: #d4d4d4;
  width: 100%;
  height: 70px;
  padding: 15px;
  margin: 0;
  color: black;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

}

.order-id,
.order-total,
.order-status,
.order-date {
  margin-right: 20px;
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 7px;
}




.display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul .order-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.order-items li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 18px;
  color: #555454;
  padding: 10px;
  margin-top: 10px;
}

.order-items li p {
  margin-bottom: 20px;

}

.btn-altt {
  margin-top: -10px;
  background-color: var(--background, var(--bittersweet));
  font-size: var(--fs-5);
  border-radius: 3px;
  width: 100px;
  padding: 10px 10px;
  color: white;
}

.order-item li {
  margin: 0px;
}

.order-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.update-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.order-actions {
  display: flex;
  flex-direction: column;

}

.order-actions form {
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: none;
  margin-right: 50px;
}

.order-actions select {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;

}

ul li {
  display: flex;
  flex-direction: column;
}
.order-image {
  display: flex;
  justify-content: left;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.order-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}

.order-details img {
  width: 130px;
  height: 130px;
  border-radius: 8px;
  margin-right: 40px;
}

.order-details {
  padding: 2rem;
  display: flex;
  flex-direction: row;

}

.flex {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}