<%- include("../includes/head",{pageTitle:"Signup"}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
    <%- include("../includes/head") %>
    <main>
    <h1>All Products</h1>
   <p>A List Of Products...</p>
    </main>
    <%- include("../includes/footer") %>