<%- include("../../shared/includes/head") %> 
 <link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css"> 
<!-- <link rel="stylesheet" href="/styles/products.css"> -->
<!-- <link rel="stylesheet" href="/styles/navigation.css">  -->
<link rel="stylesheet" href="/styles/products.css">
<!-- <link rel="stylesheet" href="/styles/styles.css"> -->
</head>
<body>
    <header class="header" data-header>
        <%- include("../../shared/includes/header") %> 

    </header>
    <main >
        <!-- <div id="all-products-main">
        </div> -->
    <h1>All Products</h1>

    <ul class="product-list">
      </li>
        <% for(const product of products){ %>
        <li>
            <%- include("../../shared/product-item",{product:product}) %>
        </li>
    <% } %>
    </ul>

</main>
<%- include("../../shared/includes/footer") %> 
