<%- include("../../shared/includes/head") %>
 <!-- <link rel="stylesheet" href="/styles/forms.css"> -->
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
    <header class="header" data-header>
        <%- include("../../shared/includes/header") %>  
    </header><main>
    
<%- include("includes/product-form",{submitPath:"/admin/products",product:{
    title:"",
    summary:"",
    price:"",
    description:"" 
},
imageRequired:true}) %>
</main>
<%- include("../../shared/includes/footer") %>
