<%- include("../../shared/includes/head") %>
 <!-- <link rel="stylesheet" href="/styles/forms.css"> -->
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
<%- include("../../shared/includes/header") %>
<main>
    <h1>Add New Products</h1>
<%- include("includes/product-form",{submitPath:"/admin/products",product:{
    title:"",
    summary:"",
    price:"",
    description:"" 
},
imageRequired:true}) %>
</main>
<%- include("../../shared/includes/footer") %>
