<%- include("../../customer/includes/head") %>
 <link rel="stylesheet" href="/styles/forms.css">
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
</head>
<body>
<%- include("../../customer/includes/header") %>
<main>
    <h1>Update Products</h1>
    <%- include("includes/product-form",{submitPath:"/admin/products/"+product.id,product:product,imageRequired:false}) %>
</main>
<%- include("../../customer/includes/footer") %>
